---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../style/global.css";
---

<Layout>
  <Header />

  <div class="main">
    <h1>Spørgsmål og svar</h1>

    <section class="cluster-container">
      <div class="cluster1">
        <h2>Konceptet</h2>
        <div class="dropdown">
          <button class="dropdown-header"
            >Hvor ofte er der saloner?<span class="plus">+</span></button
          >
          <div class="dropdown-tekst">
            <p>
              Vi afholder saloner 10 gange om året i forskellige danske byer.
              Som medlem af Another Closet kan du deltage i salonerne og låne 3
              stykker tøj med hjem hver gang. Du kan altid finde de kommende
              salondatoer på vores hjemmeside.
            </p>
          </div>
        </div>

        <div class="dropdown">
          <button class="dropdown-header"
            >Hvad hvis kan komme til en salon?<span class="plus">+</span
            ></button
          >
          <div class="dropdown-tekst">
            <p>
              Det er helt naturligt, at du ikke kan deltage i alle saloner – og
              det er selvfølgelig helt i orden. Har du ikke mulighed for at
              komme til en salon, så beholder du blot tøjet en ekstra måned, og
              bytter det til næste salon. <br />- Er du tilknyttet garderoben i
              København er der altid åbent for at komme forbi mellem kl 10.00 og
              17.00 og bytte tøjet. <br />- Er du tilknyttet garderoben i
              Roskilde har du mulighed for at lave en aftale på mail eller
              instagram og besøge dit lokale klædeskab og bytte dit tøj der. ...
              Vær dog opmærksom på, at udvalget vil være mindre end til
              salonerne, så vi anbefaler at prioritere salonerne for at få det
              bedste udvalg.
            </p>
          </div>
        </div>

        <div class="dropdown">
          <button class="dropdown-header"
            >Hvad hvis der ikke er en garderobesalon tæt på, <br />hvor jeg bor?<span
              class="plus">+</span
            ></button
          >
          <div class="dropdown-tekst">
            <p>
              Bare rolig! Vi udvider løbende til nye byer, så der er stor chance
              for, at vi snart er tættere på dig. Hold dig opdateret her (link:
              https://mailchi.mp/5cdba8d27f06/ventelistenu) , så du kan være
              blandt de første der får besked, når vi åbner i dit lokalområde.
            </p>
          </div>
        </div>
        <div class="dropdown">
          <button class="dropdown-header"
            >Får jeg mit eget udlånte tøj tilbage igen?<span class="plus"
              >+</span
            ></button
          >
          <div class="dropdown-tekst">
            <p>
              Ja, det gør du! Når du melder dig ind i Another Closet, afleverer
              du 3 stykker tøj, som går ind i vores fællesgarderobe og
              cirkuleres. Disse stykker tøj tilhører stadig dig, og du har
              mulighed for at få dem tilbage, når du ønsker det og bytte dem ud
              med noget andet du ønsker at låne ud. <br /><br />Når du beslutter
              dig for at melde dig ud af Another Closet, får du naturligvis dit
              tøj tilbage. Så du kan altid føle dig tryg ved, at dit tøj er i
              gode hænder, mens du nyder fordelene ved at være medlem.
            </p>
          </div>
        </div>
      </div>

      <div class="cluster2">
        <h2>Betaling</h2>
        <div class="dropdown">
          <button class="dropdown-header"
            >Kan jeg holde pause med at betale i perioder?<span class="plus"
              >+</span
            ></button
          >
          <div class="dropdown-tekst">
            <p>
              Ja, altid - skal du for eksempel studere i udlandet i en periode,
              så skriv til os på hej@anothercloset.dk
            </p>
          </div>
        </div>
      </div>

      <div class="cluster3">
        <h2>Abonnomentet</h2>
        <div class="dropdown">
          <button class="dropdown-header"
            >Hvor længe binder man sig?<span class="plus">+</span></button
          >
          <div class="dropdown-tekst">
            <p>
              Du binder dig ikke til noget. Du kan opsige dit abonnement, lige
              når du vil, og det gælder indtil udgangen af den måned, du opsiger
              det.
            </p>
          </div>
        </div>
        <div class="dropdown">
          <button class="dropdown-header"
            >Hvordan opsiger jeg mit abonnement?<span class="plus">+</span
            ></button
          >
          <div class="dropdown-tekst">
            <p>
              Du kan opsige dit abonnement, når som helst du ønsker det. Du
              opsiger selv dit medlemskab inde på din profil på
              anothercloset.dk. Husk også at sende en e-mail til
              hej@anothercloset.dk med besked om, at du ønsker at opsige dit
              medlemskab, og så vi kan aftale, hvornår du afleverer det lånte
              tøj og får dit eget tilbage.
            </p>
          </div>
        </div>
      </div>

      <div class="cluster4">
        <h2>Tøjet</h2>
        <div class="dropdown">
          <button class="dropdown-header"
            >Er der tøj i alle størrelser?<span class="plus">+</span></button
          >
          <div class="dropdown-tekst">
            <p>
              Ja, vi har tøj i alle størrelser, og vi lægger stor vægt på at
              dele-tøjet matcher forskellige størrelser, smag og stilarter.
              Cirka 70% af tøjet kommer fra vores medlemmer, hvilket betyder, at
              der er en bred vifte af personlige stilarter repræsenteret. For at
              sikre, at vi har noget til alle, supplerer vi med 30% af tøjet, så
              der altid er et godt udvalg i størrelser fra XS til XL, og noget
              for enhver smag. Jo flere medlemmer vi får, jo større variation
              bliver der. Når du melder dig ind i Another Closet, er du med til
              at skabe en tøjkultur, der omfavner mangfoldighed og inklusion, så
              alle kan finde noget, der passer til netop deres stil og behov.
            </p>
          </div>
        </div>
        <div class="dropdown">
          <button class="dropdown-header"
            >Hvilken slags tøj kan man låne?<span class="plus">+</span></button
          >
          <div class="dropdown-tekst">
            <p>
              I vores garderober finder du et stort udvalg af tøj, fra afslappet
              hverdagstøj til festtøj - fra mange forskellige brands - alt fra
              Ganni, Stine Goya, Bitte Kai Rand, Marc Jacobs, Gestuz, H&M, Arket
              osv. Vi har medlemmer i alle aldre og størrelser, så der er noget
              for enhver smag! <br /><br />
              Ønsket er, at give nyt liv til tøj, der ellers ikke bliver brugt. Derfor
              er alt tøj velkomment, så længe det er i god stand. Vi bygger vores
              tøjfællesskab på tillid og garderoberne har altid flotte items af god
              kvalitet.
            </p>
          </div>
        </div>
        <div class="dropdown">
          <button class="dropdown-header"
            >Hvad med vask?<span class="plus">+</span></button
          >
          <div class="dropdown-tekst">
            <p>
              Du vasker selv det tøj, du låner, og det hjælper os med at holde
              prisen nede, samtidig med at vi sparer vand, CO2 og penge. Ved at
              vaske tøjet derhjemme undgår vi unødvendig transport og industriel
              vask, hvilket gør hele processen mere bæredygtig. <br /><br />
              Følg altid de vaskeanvisninger, der står ved tøjet på anothercloset.dk.
              Brug vaskemiddel til henholdsvis farvet og hvidt tøj, samt specialsæbe
              til uld og silke. Vi anbefaler sæbe uden parfume, og du bør undgå skyllemiddel.
              Noget tøj skal vaskes ved 30 grader, mens andet kræver rensning – rensning
              står Another Closet for. Er du i tvivl, så aflever tøjet uvasket til
              os, så sørger vi for resten. No problem!
            </p>
          </div>
        </div>
        <div class="dropdown">
          <button class="dropdown-header"
            >Hvad hvis tøjet går i stykker?<span class="plus">+</span></button
          >
          <div class="dropdown-tekst">
            <p>
              Det er heldigvis meget sjældent, at et stykke tøj ikke kan
              repareres og fortsat bruges. Derfor afsætter vi 10 kr. af dit
              abonnement til vedligeholdelse og reparationer. Skulle uheldet
              være ude, finder vi altid en løsning mellem de involverede parter
              – og i sidste ende dækker Another Closet tabet, hvis det er
              nødvendigt. <br /><br />
              Another Closet fastsætter tabet på baggrund af en vurdering af tøjets
              værdi på gensalgsmarkedet. Som udgangspunkt vil erstatningsværdien
              være på maksimalt 500 kr. <br /><br />
              Har du et stykke tøj, der er uerstatteligt, skal du ikke låne det ud.
            </p>
          </div>
        </div>
      </div>
    </section>
  </div>

  <div class="spoergsmaal">
    <img src="/img/spoergsmaalstegn.png" alt="spørgsmålstegn" />
  </div>
  <Footer />
</Layout>

<style>
  body {
    background-color: rgb(255, 205, 248);
  }

  .main {
    margin: 0 40px;
  }

  h1 {
    font: var(--size-h1) var(--archivo);
  }
  h2 {
    font: var(--size-h2) var(--archivo);
    margin-bottom: 10px;
  }
  p {
    font: var(--size-p2) var(--monument-reg);
    margin-bottom: 15px;
    margin-left: 10px;
  }

  .plus {
    font-size: 30px;
    font-family: "Monument-Thin", sans-serif;
    margin: -10px -10px -10px -10px;
    padding-left: 10px;
  }

  img {
    width: 100%;
    height: auto;
  }

  .dropdown {
    width: 100%;
    border-top: 1px solid black;
  }

  .dropdown-header {
    width: 100%;
    font: var(--size-p1) var(--monument-reg);
    background: none;
    border: none;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    text-align: left;
    margin-left: -5px;
    padding-top: 5px;
  }

  .dropdown-header br {
    display: block;
  }

  .dropdown-tekst {
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s ease;
    font: var(--size-p2) var(--monument-reg);
    margin-left: -10px;
    padding-bottom: 5px;
  }

  @media (min-width: 768px) {
    .cluster-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    .dropdown-header br {
      display: none;
    }

    .cluster1,
    .cluster2,
    .cluster3,
    .cluster4 {
      margin-right: 60px;
    }
  }

  @media (min-width: 1024px) {
    .main {
      margin-top: 100px;
      margin-left: 80px;
    }

    .plus {
      font-size: 40px;
      font-family: "Monument-Thin", sans-serif;
      margin: 0 -10px 0 0;
    }

    .cluster-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    .dropdown-header {
      line-height: 28px;
    }

    .cluster1,
    .cluster2,
    .cluster3,
    .cluster4 {
      margin-right: 150px;
    }

    .spoergsmaal {
      width: 50%;

      margin-left: 40vw;
    }
  }
</style>

<script>
  const headers = document.querySelectorAll(".dropdown-header");

  headers.forEach((header) => {
    header.addEventListener("click", () => {
      const item = header.parentElement;
      const content = item.querySelector(".dropdown-tekst");

      item.classList.toggle("active");

      if (item.classList.contains("active")) {
        content.style.maxHeight = content.scrollHeight + "px";
      } else {
        content.style.maxHeight = null;
      }
    });
  });
</script>
