---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import BilledeSlider from "../components/BilledeSlider.astro";
import "../style/global.css";

const sharedDresses = [
  {
    src: "/img/orangecutout.png",
    label: "Malene Birger Kjole",
    size: "str. 38",
  },
];
---

<Layout>
  <Header />
  <img class="herovideo" src="/img/herovideo.png" alt="video" />

  <div class="hero-container">
    <p class="hero-tekst">
      Another Closet er et dele-klædeskab på abonnoment. Tilmeld dig, og gå på
      opdagelse i vores fælles cirkulære klædeskab for 149 kr. om måneden, og
      vær med til at skabe en mere bæredygtig tøjkultur.
    </p>
    <button class="btn1">bliv medlem</button>
  </div>

  <div class="tilmeld-overskrift">
    <p>Sådan fungerer det:</p>
  </div>

  <div class="dropdown">
    <div class="dropdown-header">
      <span class="dropdown-number">1</span>
      <span class="dropdown-titel">Vælg dit tøjfællesskab</span>
    </div>
    <div class="dropdown-tekst">
      <p>
        Vi har mange lokale tøjfællesskaber rundt om i Danmark, så det handler
        bare om at finde det som er tættest på dig.
      </p>
    </div>
  </div>

  <div class="dropdown">
    <div class="dropdown-header">
      <span class="dropdown-number">2</span>
      <span class="dropdown-titel">Meld dig til</span>
    </div>
    <div class="dropdown-tekst">
      <p>
        Når du har fundet dit tøjfællesskab, kan du melde dig til her på vores
        side, eller du kan komme til næste tøjsalon og lære mere og blived
        medlem der.
      </p>
    </div>
  </div>

  <div class="dropdown">
    <div class="dropdown-header">
      <span class="dropdown-number">3</span>
      <span class="dropdown-titel">Find tre strykker tøj til klædeskabet</span>
    </div>
    <div class="dropdown-tekst">
      <p>
        For at vi har nok tøj til alle, skal du finde tre stykker tøj, som du
        ikke får brugt, og tage dem med til næste salon, for der er uden tvivl
        andre som lige går og mangler dét stykke tøj.
      </p>
    </div>
  </div>

  <div class="dropdown">
    <div class="dropdown-header">
      <span class="dropdown-number">4</span>
      <span class="dropdown-titel">Kom til tøjsalonen</span>
    </div>
    <div class="dropdown-tekst">
      <p>
        Vi har løbende tøjsaloner - ca. 10 gange om året. Her kommer alle, og
        afleverer de tre stykker tøj som de lånte til sidste salon, og finder så
        tre nye stykker som de kan tage med hjem og bruge indtil næste gang.
      </p>
    </div>
  </div>

  <section class="billeder-container">
    <img
      class="billede-bagved"
      src="/img/billede-1-bagerst.png"
      alt="billede"
    />
    <img class="billede-foran" src="/img/billede-2-oeverst.png" alt="billede" />
  </section>

  <div class="rulletekst">
    <p>
      Fredericia – KEA – Lyngy – Nørrebro – Ribe – Ringkøbing – Roskilde – AAU –
      Fredericia – KEA – Lyngy – Nørrebro – Ribe – Ringkøbing – Roskilde – AAU
    </p>
  </div>

  <section class="citat-container">
    <p class="citat">
      “Another Closet bliver en mulighed for at lege og eksperimentere med tøj i
      et sjovt, rummeligt og bæredygtigt fællesskab uden at skulle løbe rundt i
      tilværelsen for at have penge nok til det hele.”<br />
      <br /> - Maria, Fredericia
    </p>

    <button>find dit tøjfællesskab</button>
  </section>

  <div class="cutoutbillede">
    <img src="/img/cutoutbunke.png" alt="billlede" />
  </div>

  <section class="fest-container">
    <div>
      <h1>Lej tøj til den helt specielle anledning</h1>
      <p class="fest-tekst">
        Som medlem kan du leje festkjoler til 350 kr pr styk. Tilmeld dig
        Another Closet, og gå på opdagelse i vores fælles cirkulære klædeskab
        for 149 kr. om måneden.
      </p>
      <button class="btn2">se vores udvalg af festtøj</button>
    </div>
    <div class="slider">
      <BilledeSlider dresses={sharedDresses} mode="slider" />
    </div>
  </section>
  <Footer />
</Layout>

<style>
  .medlem-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 40px;
  }

  .herovideo {
    width: 100%;
    height: auto;
    margin-bottom: 40px;
  }

  .hero-tekst {
    font-size: var(--font-size-p1);
    text-align: center;
    margin: 0 20px 20px 20px;
  }

  button {
    background-color: var(--orange-color);
    color: #000;
    border: none;
    padding: 10px 20px;
    font-size: var(--font-size-p1);
    cursor: pointer;
    border-radius: 30px;
    margin-bottom: 40px;
  }

  .tilmeld-overskrift {
    background-color: #f3ffde;
    color: #000;
    padding: 10px;
    font-size: var(--font-size-p1);
    border-top: solid 1px #000;
  }

  .tilmeld-overskrift p {
    margin-left: 30px;
  }

  .dropdown {
    width: 100%;
    border-top: 1px solid black;
  }

  .dropdown-header {
    font-size: var(--font-size-p1);
    background: none;
    border: none;
    display: flex;
    cursor: pointer;
  }

  .dropdown-tekst {
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s ease;
  }

  .dropdown-number {
    background-color: #3b7d3c;
    color: rgb(0, 0, 0);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    margin: 5px 15px 5px 30px;
  }

  .dropdown-titel {
    padding: 7px;
  }

  .billeder-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, 1fr);
    margin-top: 40px;
  }

  .billede-bagved {
    grid-column: 2/6;
    grid-row: 1/4;
  }

  .billede-foran {
    grid-column: 3/5;
    grid-row: 3/6;
  }

  .rulletekst {
    overflow: hidden;
    white-space: nowrap;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
  }

  .rulletekst p {
    display: inline-block;
    padding-left: 100%;
    animation: scroll-text 20s linear infinite;
    font-size: 40px;
  }

  .citat-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    border-bottom: solid 1px #000;
  }

  .citat {
    font-size: var(--font-size-p1);
    margin: 30px;
    text-align: center;
  }

  .cutoutbillede {
    display: flex;
    justify-content: right;
    margin-top: -90px;
  }

  .fest-container {
    margin: 20px 20px 0 20px;
    font-size: var(--font-size-p1);
  }

  .fest-tekst {
    margin-bottom: 40px;
  }

  .btn1,
  .btn2 {
    display: block;
    margin: 0 auto;
    margin-bottom: 40px;
  }

  @keyframes scroll-text {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  @media (min-width: 768px) {
    .herovideo {
      width: 100%;
      height: auto;
      margin-left: 0px;
      margin-top: 30px;
    }

    .btn2 {
      margin-bottom: 60px;
    }
  }

  @media (min-width: 1024px) {
    .herovideo {
      margin-top: 120px;
    }

    .hero-container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      margin-bottom: 40px;
    }

    .hero-tekst {
      grid-column: 1 / 3;
      text-align: left;
    }

    .btn1 {
      grid-column: 3;
    }

    .citat-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 40px 250px 30px 250px;
    }

    .fest-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    .fest-tekst {
      grid-column: 2/3;
    }

    .slider {
      grid-column: 1/2;
    }
  }
</style>

<script>
  const headers = document.querySelectorAll(".dropdown-header");

  headers.forEach((header) => {
    header.addEventListener("click", () => {
      const item = header.parentElement;
      const content = item.querySelector(".dropdown-tekst");

      item.classList.toggle("active");

      if (item.classList.contains("active")) {
        content.style.maxHeight = content.scrollHeight + "px";
      } else {
        content.style.maxHeight = null;
      }
    });
  });
</script>
