---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import BilledeSlider from "../components/BilledeSlider.astro";
import "../style/global.css";

const sharedDresses = [
  {
    src: "/img/orangecutout.png",
    label: "Malene Birger Kjole",
    size: "str. 38",
  },
];
---

<Layout>
  <Header />

  <img class="herovideo" src="/img/herovideo.png" alt="billede" />

  <video autoplay muted loop playsinline class="hero-video">
    <source src="/img/anothercloset.mp4" type="video/mp4" />
    Din browser understøtter ikke video.
  </video>

  <div class="hero-container">
    <p class="hero-tekst">
      Another Closet er et dele-klædeskab på abonnoment. Tilmeld dig, og gå på
      opdagelse i vores fælles cirkulære klædeskab for 149 kr. om måneden, og
      vær med til at skabe en mere bæredygtig tøjkultur.
    </p>
    <a href="blivmedlem" class="btn1">bliv medlem</a>
  </div>

  <div class="tilmeld-overskrift">
    <h1>Sådan fungerer det:</h1>
  </div>

  <div class="dropdown">
    <div class="dropdown-header">
      <span class="dropdown-number">1</span>
      <span class="dropdown-titel">Vælg dit tøjfællesskab</span>
    </div>
    <div class="dropdown-tekst">
      <p>
        Vi har mange lokale tøjfællesskaber rundt om i Danmark, så det <br
        />handler bare om at finde det som er tættest på dig.
      </p>
    </div>
  </div>

  <div class="dropdown">
    <div class="dropdown-header">
      <span class="dropdown-number">2</span>
      <span class="dropdown-titel">Meld dig til</span>
    </div>
    <div class="dropdown-tekst">
      <p>
        Når du har fundet dit tøjfællesskab, kan du melde dig til her på vores
        side, eller du <br />kan komme til næste tøjsalon og lære mere og blived
        medlem der.
      </p>
    </div>
  </div>

  <div class="dropdown">
    <div class="dropdown-header">
      <span class="dropdown-number">3</span>
      <span class="dropdown-titel">Find tre stykker tøj</span>
    </div>
    <div class="dropdown-tekst">
      <p>
        For at vi har nok tøj til alle, skal du finde tre stykker tøj, som du
        ikke får brugt, og tage dem med <br />til næste salon, for der er uden
        tvivl andre som lige går og mangler dét stykke tøj.
      </p>
    </div>
  </div>

  <div class="dropdown-sidst">
    <div class="dropdown-header">
      <span class="dropdown-number">4</span>
      <span class="dropdown-titel">Kom til tøjsalon</span>
    </div>
    <div class="dropdown-tekst">
      <p>
        Vi har løbende tøjsaloner - ca. 10 gange om året. Her kommer alle, og
        afleverer de tre stykker tøj <br />som de lånte til sidste salon, og
        finder så tre nye stykker som de kan tage med hjem og bruge indtil næste
        gang.
      </p>
    </div>
  </div>

  <section class="billeder-container">
    <img
      class="billede-bagved"
      src="/img/billede-1-bagerst.png"
      alt="billede"
    />
    <img class="billede-foran" src="/img/billede-2-oeverst.png" alt="billede" />
  </section>

  <div class="rulletekst">
    <p>
      Fredericia – KEA – Lyngby – Nørrebro – Ribe – Ringkøbing – Roskilde – AAU
      – Fredericia – KEA – Lyngby – Nørrebro – Ribe – Ringkøbing – Roskilde –
      AAU – Fredericia – KEA – Lyngby – Nørrebro – Ribe – Ringkøbing – Roskilde
      – AAU – Fredericia – KEA – Lyngby – Nørrebro – Ribe – Ringkøbing –
      Roskilde – AAU
    </p>
  </div>

  <section class="citat-container">
    <p class="citat">
      “Another Closet bliver en mulighed for at lege og eksperimentere med tøj i
      et sjovt, rummeligt og bæredygtigt fællesskab uden at skulle løbe rundt i
      tilværelsen for at have penge nok til det hele.”<br />
      <br />
      <div class="citat-navn"><b>- Maria, Fredericia</b></div>
    </p>

    <a href="toejfaellesskab" class="btn2">find dit tøjfællesskab</a>
  </section>

  <div class="cutoutbillede">
    <img src="/img/cutoutbunke.png" alt="billlede" />
  </div>

  <section class="fest-container">
    <div class="tekst">
      <h1 class="fest-overskrift">Lej tøj til den helt specielle anledning</h1>
      <p class="fest-tekst">
        Som medlem af Another Closet kan du leje festtøj i en uge til til 350 kr
        pr styk. Se vores udvalg af smukt festtøj herunder, se hvad dit lokale
        klædeskab har at byde på, og skip tøjkrisen til den næste vigtige
        begivenhed.
      </p>
      <a href="kjoler" class="btn3">se vores udvalg af festtøj</a>
    </div>
    <div class="slider">
      <BilledeSlider dresses={sharedDresses} mode="slider" />
    </div>
  </section>
  <Footer />
</Layout>

<style>
  .herovideo {
    width: 100%;
    height: auto;
    margin-bottom: 40px;
  }
  .medlem-container {
    margin-bottom: 40px;
  }

  .hero-video {
    display: none;
  }

  .hero-tekst {
    text-align: center;
    margin: 0 20px 20px 20px;
  }
  .hero-tekst p {
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }

  .btn1 {
    display: flex;
    justify-content: center;
  }

  .btn1,
  .btn2,
  .btn3 {
    background-color: var(--orange-color);
    color: #000;
    border: none;
    padding: 10px 20px;
    font: var(--archivo) var(--font-size-p1);
    cursor: pointer;
    border-radius: 30px;
    margin-bottom: 40px;
    text-decoration: none;
    display: inline-block;
  }

  .tilmeld-overskrift {
    background-color: #f3ffde;
    color: #000;
    padding: 10px;
    border-top: solid 1px #000;
  }

  .tilmeld-overskrift h1 {
    font: var(--size-h2) var(--archivo);
    margin: -5px 0 -5px 30px;
  }

  .dropdown {
    width: 100%;
    border-top: 1px solid black;
  }

  .dropdown-sidst {
    width: 100%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
  }

  .dropdown-header {
    font: var(--size-h2) var(--archivo);
    background: none;
    border: none;
    display: flex;
    cursor: pointer;
  }

  .dropdown-header:hover {
    background-color: var(--yellow-color);
  }

  .dropdown-tekst {
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s ease;
    font: var(--size-p1) var(--monument-reg);
    padding: 0 12px 0 87px;
    background-color: var(--yellow-color);
  }

  .dropdown-tekst p {
    margin-top: -2px;
    margin: 0;
    width: 100%;
    background-color: var(--yellow-color);
  }

  .dropdown-number {
    background-color: #3b7d3c;
    color: rgb(0, 0, 0);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font: var(--size-h2) var(--archivo);
    margin: 12px 15px 10px 30px;
  }

  .dropdown-titel {
    padding: 7px;
  }

  .billeder-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, 1fr);
    margin-top: 40px;
  }

  .billede-bagved {
    grid-column: 2/6;
    grid-row: 1/4;
  }

  .billede-foran {
    grid-column: 3/5;
    grid-row: 3/6;
  }

  .rulletekst {
    overflow: hidden;
    white-space: nowrap;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
  }

  .rulletekst p {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 100%;
    animation: scroll-text 60s linear infinite;
    font: var(--size-h1) var(--archivo);
  }

  .citat-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    border-bottom: solid 1px #000;
  }

  .citat {
    font: var(--size-h3) var(--archivo);
    margin: 30px 40px 0 40px;
    text-align: center;
  }

  .citat-navn {
    font: var(--size-p1) var(--monument-reg);
    margin-bottom: 40px;
  }

  .cutoutbillede {
    display: flex;
    justify-content: right;
    margin-top: -90px;
  }

  .fest-container {
    margin: 20px 20px 0 20px;
    font-size: var(--font-size-p1);
  }

  .fest-overskrift {
    font: var(--size-h2) var(--archivo);
    margin: 0 0 20px 30px;
  }

  .fest-tekst {
    font: var(--size-p1) var(--monument-reg);
    margin: 0 10px 40px 30px;
  }

  .dropdown-tekst br {
    display: none;
  }

  @keyframes scroll-text {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  @media (min-width: 768px) {
    .dropdown-tekst br {
      display: block;
    }

    .hero-video {
      width: 100%;
      height: auto;
      margin-left: 0px;
      margin-top: 30px;
      display: block;
    }

    .herovideo {
      display: none;
    }

    .dropdown-number {
      width: 35px;
      height: 35px;
      margin: 17px 15px 10px 30px;
    }

    .citat {
      width: 600px;
    }

    .fest-tekst {
      margin-right: 60px;
    }
  }

  @media (min-width: 1024px) {
    .hero-container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      margin-bottom: 40px;
    }

    .hero-video {
      display: block;
    }

    .hero-tekst {
      grid-column: 1 / 3;
      text-align: left;
    }

    .dropdown-number {
      margin: 15px 15px 5px 30px;
    }

    .citat-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 40px 250px 30px 250px;
    }

    .cutoutbillede {
      height: 200px;
    }

    .fest-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-row: 1fr;
    }

    .tekst {
      margin: 80px;
      grid-column: 2/3;
      grid-row: 1/2;
    }

    .slider {
      margin: 40px;
      grid-column: 1/2;
      grid-row: inherit;
    }
  }
</style>

<script>
  const headers = document.querySelectorAll(".dropdown-header");

  headers.forEach((header) => {
    header.addEventListener("click", () => {
      const item = header.parentElement;
      const content = item.querySelector(".dropdown-tekst");

      item.classList.toggle("active");

      if (item.classList.contains("active")) {
        content.style.maxHeight = content.scrollHeight + "px";
      } else {
        content.style.maxHeight = null;
      }
    });
  });
</script>
