---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../style/global.css";
---

<Layout>
  <Header />
  <main>
    <div class="hero">
      <h1>Find dit lokale fællesskab</h1>
      <p>
        Kom med til vores næste tøjbytte-salon! Her mødes medlemmer for at bytte
        tøj, hygge sig og nyde et glas vin. Der opstår en helt særlig stemning,
        når kvinder i alle aldre og størrelser prøver lækkert tøj sammen! Det er
        gratis og uforpligtende at tage til tøjsalon.
      </p>
    </div>

    <div class="accordion">
      <div class="accordion-item">
        <button class="accordion-header"
          >Fredericia<span class="plus">+</span></button
        >
        <div class="accordion-content">
          <p>NÆSTE SALON ER:</p>
          <p>
            Torsdag 15. maj kl. 20.00 - 21.30 <br />Cafe Mauritz, Sjællandsgade
            33, Fredericia
          </p>
        </div>
      </div>

      <div class="accordion-item">
        <button class="accordion-header">KEA<span class="plus">+</span></button>
        <div class="accordion-content">
          <p>Information om event på KEA.</p>
        </div>
      </div>

      <div class="accordion-item">
        <button class="accordion-header"
          >Lyngby<span class="plus">+</span></button
        >
        <div class="accordion-content">
          <p>Information om event i Lyngby.</p>
        </div>
      </div>

      <div class="accordion-item">
        <button class="accordion-header"
          >Nørrebro<span class="plus">+</span></button
        >
        <div class="accordion-content">
          <p>Information om event i Nørrebro.</p>
        </div>
      </div>

      <div class="accordion-item">
        <button class="accordion-header">Ribe<span class="plus">+</span></button
        >
        <div class="accordion-content">
          <p>Information om event i Ribe.</p>
        </div>
      </div>

      <div class="accordion-item">
        <button class="accordion-header"
          >Ringkøbing<span class="plus">+</span></button
        >
        <div class="accordion-content">
          <p>Information om event i Ringkøbing.</p>
        </div>
      </div>

      <div class="accordion-item">
        <button class="accordion-header"
          >Roskilde<span class="plus">+</span></button
        >
        <div class="accordion-content">
          <p>Information om event i Roskilde.</p>
        </div>
      </div>

      <div class="accordion-item">
        <button class="accordion-header"
          >AAU København<span class="plus">+</span></button
        >
        <div class="accordion-content">
          <p>Information om event i AAU København.</p>
        </div>
      </div>
    </div>
  </main>
</Layout>

<style>
  .hero {
    margin: 50px 0;
    padding: 0 20px 0 2rem;
  }

  /* h1 {
    font-size: var(--font-size-h1);
    line-height: var(--line-height-h1);
    color: var(--text-color);
  } */

  .hero h1 {
    font-size: var(--size-h1);
    font-family: var(--font-h1);
    font-weight: 100;
  }

  p {
    font-size: var(--size-p1);
    font-family: var(--font-p1);
    line-height: var(--line-p1);
  }
  .accordion {
    width: 100%;
    border-top: 1px solid black;
  }

  .accordion-item {
    border-bottom: 1px solid black;
  }

  .accordion-header {
    width: 100%;
    text-align: left;
    padding: 1rem;
    padding-left: 2rem;
    font-size: var(--size-h1);
    font-family: var(--font-h1);
    background: none;
    border: none;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
  }

  .accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s ease;
    padding: 0 2rem;
    font-size: 14pt;
  }

  .plus {
    padding-right: 40px;
  }

  .accordion-item:hover {
    background-color: var(--yellow-color);
  }
</style>

<script>
  const headers = document.querySelectorAll(".accordion-header");

  headers.forEach((header) => {
    header.addEventListener("click", () => {
      const item = header.parentElement;
      const content = item.querySelector(".accordion-content");

      item.classList.toggle("active");

      if (item.classList.contains("active")) {
        content.style.maxHeight = content.scrollHeight + "px";
      } else {
        content.style.maxHeight = null;
      }
    });
  });
</script>
