---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Accordion from "../components/Accordion.astro";
import BilledeSlider from "../components/BilledeSlider.astro";
import "../style/global.css";
---

<Layout>
  <Header />
  <main>
    <div class="hero">
      <div class="hero-content">
        <div class="hero-header">
          <h1>Find dit lokale fællesskab</h1>
          <p>
            Kom med til vores næste tøjbytte-salon! Her mødes medlemmer for at
            bytte tøj, hygge sig og nyde et glas vin. Der opstår en helt særlig
            stemning, når kvinder i alle aldre og størrelser prøver lækkert tøj
            sammen! Det er gratis og uforpligtende at tage til tøjsalon.
          </p>
        </div>

        <div class="pc_img">
          <img src="/img/toejfaellesskab.png" alt="Gruppebillede af kvinder" />
        </div>
      </div>
    </div>
    <Accordion />
    <section class="toej_section">
      <div class="toej-imgs">
        <div class="toejsalon">
          <img src="/img/toejsalon.png" alt="Kvinder til tøjsalon" />
        </div>

        <div class="toejraekke">
          <img src="/img/toej-2.png" alt="Tøj på tøjstativ" />
        </div>
      </div>

      <div class="toej-text">
        <p>
          Vi afholder saloner 10 gange om året i forskellige danske byer. Som
          medlem af Another Closet kan du deltage i salonerne og låne 3 stykker
          tøj med hjem hver gang. Du kan altid finde de kommende salondatoer på
          vores hjemmeside.
        </p>
        <br />
        <p>
          Vi er typisk mellem 15 og 30 mennesker til hver salon. Nogle medlemmer
          bliver i et par timer for at hygge og prøve tøj, mens andre kun kigger
          forbi for en hurtig tøjbytning. Begge dele er helt okay – du kan
          tilpasse det, som det passer dig bedst!
        </p>
      </div>
    </section>
  </main>
  <Footer />
</Layout>

<style>
  br {
    display: none;
  }
  .hero {
    margin: 50px 0;
    padding: 0 20px 0 40px;
  }

  .hero h1 {
    font-size: var(--size-h1);
    font-family: var(--archivo);
    font-weight: 100;
  }

  p {
    font-size: var(--size-p1);
    font-family: var(--monument-reg);
  }

  .toej_section {
    margin: 100px 0;
  }

  .toej-text {
    padding: 0 20px 0 40px;
    margin: 50px 0;
  }

  .toej-imgs {
    display: flex;
    flex-direction: column;
    gap: 36px;
  }

  .toejsalon {
    width: 100%;
    height: auto;
  }
  .toejsalon img {
    display: block;
    margin: 0 auto;
    width: 70%;
    height: auto;
  }

  .toejraekke {
    width: 100%;
    height: auto;
  }
  .toejraekke img {
    display: block;
    margin: 0 auto;
    width: 60%;
    height: auto;
  }

  .pc_img {
    display: none;
  }

  @media (min-width: 768px) {
    br {
      display: block;
    }
    .toej_section {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px;
    }

    .toej-imgs {
      max-width: 600px; /* stadig begrænset bredde, men fleksibelt */
      width: 100%; /* fyld containeren */
      box-sizing: border-box;
    }

    .toejraekke {
      display: flex;
      justify-content: flex-end;
    }

    .toejsalon {
      display: flex;
      justify-content: flex-end;
    }

    .toejraekke img {
      width: 80%;
      height: auto;
      margin: 0;
    }

    .toejsalon img {
      width: 90%;
      height: auto;
      margin: 0;
    }

    .toej-text {
      padding: 0 2rem;
      margin: 0;
    }
    .toej-text p {
      margin: 0;
      font-family: var(--monument-reg);
      font-size: var(--size-p1);
    }

    .hero p {
      margin-right: 280px;
    }
  }

  @media (min-width: 1024px) {
    .hero p {
      max-width: 530px;
      margin-right: 0;
    }

    .hero {
      display: flex;
      flex-direction: column;
      margin-top: 150px;
    }

    .hero-content {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
    }

    .hero-header h1 {
      margin: 0;
    }

    .pc_img {
      display: block;
      display: flex;
      justify-content: flex-end;
      padding-right: 40px;
    }
    .pc_img img {
      width: 60%;
      height: auto;
      margin-top: 0;
    }

    .toej-text {
      width: 531px;
      margin-top: 180px;
    }

    .toej_section {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 60px;
      padding-left: 40px;
    }

    .toejraekke img {
      width: 90%;
      height: auto;
      margin: 0;
    }

    .toejsalon img {
      width: 100%;
      height: auto;
      margin: 0;
    }

    .toej-imgs {
      display: flex;
      justify-self: end;
      gap: 80px;
    }
  }
</style>
