---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Accordion from "../components/Accordion.astro";
import BilledeSlider from "../components/BilledeSlider.astro";
import "../style/global.css";
---

<Layout>
  <Header />
  <main>
    <div class="hero">
      <h1>Find dit lokale fællesskab</h1>
      <p>
        Kom med til vores næste tøjbytte-salon! Her mødes medlemmer for at bytte
        tøj, hygge sig og nyde et glas vin. Der opstår en helt særlig stemning,
        når kvinder i alle aldre og størrelser prøver lækkert tøj sammen! Det er
        gratis og uforpligtende at tage til tøjsalon.
      </p>
    </div>
    <Accordion />
  </main>
  <Footer />
</Layout>

<style>
  .hero {
    margin: 50px 0;
    padding: 0 20px 0 2rem;
  }

  /* h1 {
    font-size: var(--font-size-h1);
    line-height: var(--line-height-h1);
    color: var(--text-color);
  } */

  .hero h1 {
    font-size: var(--size-h1);
    font-family: var(--font-h1);
    font-weight: 100;
  }

  p {
    font-size: var(--size-p1);
    font-family: var(--font-p1);
    line-height: var(--line-p1);
  }

</style>
