:root {
  /* colors */
  --yellow-color: #f3ffde;
  --orange-color: #ff5100;
  --green-color: #2a7f3b;
  --purple-color: #cd59ff;
  --text-color: #000000;
  --background-color: #ffffff;

  /* typography */

  /* De nye */
  --size-h1: 48px;
  --size-h2: 34px;
  --size-h3: 25px;
  --archivo: "archivo-condensed", sans-serif;

  --monument-reg: "Monument-Regular", sans-serif;
  --monument-med: "Monument-Medium", sans-serif;
  --size-p1: 20px;
  --size-p2: 16px;

  /* De gamle */
  /* --font-size-p1: 20pt;
  --font-size-p2: 14pt;
  --font-size-h1: 48pt;
  --font-size-h2: 38pt;
  --font-size-h3: 28pt;
  --font-size-h4: 18pt;
  --font-size-h5: 20pt; */
}

@media (max-width: 768px) {
  :root {
    /* de nye */
    --size-h1: 34px;
    --size-h2: 25px;
    --size-h3: 18px;
    --font-h1: "archivo-condensed", sans-serif;

    --font-p1: "Monument-Regular", sans-serif;
    --size-p1: 16px;
    --size-p2: 12px;
  }
}

@font-face {
  font-family: "Monument-Regular";
  src: url("/fonts/ABCMonumentGrotesk-Regular-Trial.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Monument-Medium";
  src: url(/fonts/ABCMonumentGrotesk-Medium-Trial.woff) format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Monument-Thin";
  src: url("/fonts/ABCMonumentGrotesk-Thin-Trial.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}
