<footer>
<section class="grid">
  <div class="tekst1">
    <h1>Mere info</h1>
      <p>Spørgsmål og svar <br /> Om another closet</p>
      <br>
  </div>
        
  <div class="tekst2">
    <h1>Det med småt</h1>
      <p>Handelsbetingelser <br />
      Cookies- og privatlivspolitik <br />
      Spørgsmål og svar</p>
      <br>
    </div>
          
    <div class="tekst3">
    <h1>E-mail</h1>
      <p> hej@anothercloset.dk </p>
      <br>
    </div>
          
    <div class="tekst4">
    <h1>Adresse</h1>
      <p>Tønsbergvej 104 <br /> 4000 Roskilde <br /> <br> CVR nr.: 44995875</p>
  </div>



  <div class="icons_logo">
    <div class="icons">
      <div>
        <svg
          width="41"
          height="41"
          viewBox="0 0 41 41"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M30.75 3.4165H25.625C23.3597 3.4165 21.187 4.31643 19.5852 5.9183C17.9833 7.52017 17.0834 9.69278 17.0834 11.9582V17.0832H11.9584V23.9165H17.0834V37.5832H23.9167V23.9165H29.0417L30.75 17.0832H23.9167V11.9582C23.9167 11.5051 24.0967 11.0706 24.4171 10.7502C24.7374 10.4298 25.172 10.2498 25.625 10.2498H30.75V3.4165Z"
            fill="black"></path>
        </svg>
      </div>
      <div>
        <svg
          width="37"
          height="37"
          viewBox="0 0 37 37"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M27.0416 1.4165H9.95829C5.24086 1.4165 1.41663 5.24074 1.41663 9.95817V27.0415C1.41663 31.7589 5.24086 35.5832 9.95829 35.5832H27.0416C31.7591 35.5832 35.5833 31.7589 35.5833 27.0415V9.95817C35.5833 5.24074 31.7591 1.4165 27.0416 1.4165Z"
            fill="black"></path>
          <path
            d="M25.3333 17.4236C25.5441 18.8453 25.3013 20.2974 24.6393 21.5732C23.9773 22.8489 22.9299 23.8835 21.6461 24.5297C20.3622 25.1759 18.9073 25.4008 17.4883 25.1725C16.0692 24.9441 14.7583 24.2741 13.742 23.2578C12.7257 22.2415 12.0557 20.9306 11.8273 19.5115C11.599 18.0925 11.8239 16.6376 12.4701 15.3537C13.1163 14.0699 14.1509 13.0225 15.4266 12.3605C16.7024 11.6985 18.1545 11.4557 19.5762 11.6665C21.0265 11.8816 22.3691 12.5573 23.4058 13.594C24.4425 14.6307 25.1182 15.9733 25.3333 17.4236Z"
            fill="black"></path>
          <path
            d="M27.8958 9.104H27.9129M9.95829 1.4165H27.0416C31.7591 1.4165 35.5833 5.24074 35.5833 9.95817V27.0415C35.5833 31.7589 31.7591 35.5832 27.0416 35.5832H9.95829C5.24086 35.5832 1.41663 31.7589 1.41663 27.0415V9.95817C1.41663 5.24074 5.24086 1.4165 9.95829 1.4165ZM25.3333 17.4236C25.5441 18.8453 25.3013 20.2974 24.6393 21.5732C23.9773 22.8489 22.9299 23.8835 21.6461 24.5297C20.3622 25.1759 18.9073 25.4008 17.4883 25.1725C16.0692 24.9441 14.7583 24.2741 13.742 23.2578C12.7257 22.2415 12.0557 20.9306 11.8273 19.5115C11.599 18.0925 11.8239 16.6376 12.4701 15.3537C13.1163 14.0699 14.1509 13.0225 15.4266 12.3605C16.7024 11.6985 18.1545 11.4557 19.5762 11.6665C21.0265 11.8816 22.3691 12.5573 23.4058 13.594C24.4425 14.6307 25.1182 15.9733 25.3333 17.4236Z"
            stroke="#F3FFDE"
            stroke-width="2.5"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
        </svg>
      </div>
    </div>
  </section>

    <div class="logo_footer">
      <img src="/img/logo.webp" alt="logo" />
    </div>
  </div>
  </footer>
  
  <style>
   footer {
      background-color: #f3ffde;
      padding: 20px 0 0 20px;
   }
    h1 {
      color: black;
      font: var(--size-h3) var(--archivo);
    }
  
    p {
      color: black;
      font: var(--size-p2) var(--monument-reg);
    }
  
    .icons {
      padding: 35px 10px 40px 0;
      display: flex;
      gap: 20px; 
      cursor: pointer;
    }
  
  .logo_footer {
      display: none;
  }
  
  @media (min-width: 768px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row: 1fr 1fr;
  }

  .tekst1 {
    grid-column: 1;
    grid-row: 1;
  }

  .tekst3 {
    grid-column: 2;
    grid-row: 1;
  }

  .tekst2 {
    grid-column: 1;
    grid-row: 2;
  }

  .tekst4 {
    grid-column: 2;
    grid-row: 2;
  }

  .icons {
      padding-right: 50px;
      gap: 20px;
    }
  
  .icons_logo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end; /
    margin-left: auto; /
    height: 100%; /
  }
  
  .logo_footer {
      padding: 0 0 40px 0;
      display: flex;
      justify-content: flex-end;
  }  
  
  .logo_footer img {
      width: 500px;
      height: auto;
  }
  }
  </style>