<header>
  <div id="header_top">
    <p>Vores fælles klædeskab</p>

    <img class="logo" src="/img/logo.png" alt="Logo" />
  </div>

  <div id="sideMenu" class="side-menu">
    <div class="menu-label" id="menuButton">menu</div>
    <a href="/blivmedlem">bliv medlem</a>
    <a href="/toejfaellesskab">find dit tøjfællesskab</a>
    <a href="/kjoler">kjoleskabet</a>
    <a href="/faq">spørgsmål og svar</a>
  </div>

  <script>
    const menuButton = document.getElementById("menuButton");
    const sideMenu = document.getElementById("sideMenu");
    const closeButton = document.getElementById("closeButton");

    menuButton.addEventListener("click", () => {
      sideMenu.classList.toggle("open");
    });

    document.addEventListener("click", (e) => {
      if (!sideMenu.contains(e.target) && !menuButton.contains(e.target)) {
        sideMenu.classList.remove("open");
      }
    });
  </script>
</header>

<style>
  #header_top {
    color: #000;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 0;
  }

  #header_top p {
    display: none;
  }

  .logo {
    display: block;
    margin: auto;
    margin-top: -20px;
  }

  .side-menu {
    position: fixed;
    top: 0;
    left: -380px;
    width: 415px;
    height: 100%;
    background-color: #f3ffde;
    transition: left 0.7s ease;
    padding: 160px 20px 20px 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    z-index: 2;
  }

  .side-menu.open {
    left: 0;
  }

  .close-button {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
  }

  .menu-label {
    position: absolute;
    top: 0;
    right: -4px;
    height: 100%;
    width: 40px;
    background-color: #f3ffde;
    border-left: 1px solid black;
    writing-mode: vertical-rl;
    cursor: pointer;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--monument-med);
    font-size: 25px;
  }

  .side-menu a {
    display: block;
    padding: 10px 30px;
    /* padding: 15px 20px; */
    text-decoration: none;
    color: #000;
    border-top: solid 1px #f3ffde;
    border-bottom: solid 1px #f3ffde;
    font: var(--size-h1) var(--archivo);
  }

  .logo-menu {
    margin-top: 10px;
  }

  .side-menu a:hover {
    transition: 0.2s ease;
    border-top: solid 1px #000;
    border-bottom: solid 1px #000;
  }

  .side-menu.open {
    left: 0;
  }

  @media (min-width: 768px) {
    .logostack {
      display: none;
    }

    .logo {
      display: block;
      margin: 0 auto;
      margin-top: -20px;
      /* width: 380px; */
    }

    #header_top {
      color: #000;
      text-align: center;
      margin-top: 30px;
      margin-bottom: 0;
    }

    #header_top p {
      display: none;
    }

    .side-menu a {
      font: var(--size-h2) var(--archivo);
    }
  }

  @media (min-width: 1024px) {
    .logostack {
      display: none;
    }

    .side-menu a {
      font: var(--size-h2) var(--archivo);
    }

    .logo {
      position: absolute;
      top: 30px;
      right: 30px;
      width: 450px;
    }

    #header_top {
      display: flex;
      justify-content: left;
      margin-left: 40px;
      margin-top: -10px;
      font-size: 25px;
      padding-top: 20px;
      font: var(--size-p1) var(--monument-reg);
    }
  
    #header_top p{
      display: block;
  }
</style>
