---
const { data } = Astro.props;
import "../style/global.css";
---

<article class="kjoler-card">
  <a href={`../singleview/${data.id}`}>
    <img src={"/img/" + data.img} alt={data.imgdescr} />
    <p>
      <span class="name">{data.brand}</span><span class="size"
        >str. {data.size}</span
      >
    </p>
  </a>
</article>

<style>
  .kjoler-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    margin: 10px 0;
  }

  img {
    height: auto;
    width: 90%;
  }

  .name {
    display: block;
    background-color: var(--purple-color);
    font-family: var(--monument-reg);
    font-size: var(--size-p2);
    padding: 5px 25px;
    border-radius: 20px;
    width: 110px;
    margin: 0 auto;
  }

  .size {
    display: inline-block;
    background-color: var(--purple-color);
    font-family: var(--monument-reg);
    font-size: var(--size-p2);
    padding: 0.3rem 1rem;
    border-radius: 20px;
    margin-bottom: 40px;
  }

  a {
    text-decoration: none;
    color: #000;
  }
</style>
