---
const { data } = Astro.props;
---

<article class="kjoler-card">
  <a href={`../singleview/${data.id}`}>
    <img src={"/img/" + data.image} alt={data.imgdescr} />
    <p>
      <spanc class="name">{data.name}</spanc><br /><br /><spanc class="size">str. {data.size}</spanc>
    </p>
  </a>
</article>

<style>
  .kjoler-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    margin: 0 auto;
  }
  img {
    height: auto;
    width: 100%;
  }

  article {
    margin: 8px;
  }

  p {
    margin-left: 10px;
  }

  .size,
  .name {
    background-color: #cd59ff;
    color: black;
    padding: 3px 10px;
    border-radius: 15px;
  }

  a {
    text-decoration: none;
    color: #000;
  }
</style>
