---
const { data } = Astro.props;
---

<!-- <article>
  <a href={`../singleview/${data.id}`}>
  <img src={"/img/" + data.image} alt={data.imgdescr} />
  <p>
    {data.name}<br /><br /><spanc class="size">{data.size}</spanc>
  </p>
</article> -->
<style>
  img {
    height: auto;
    width: 100%;
  }

  article {
    margin: 8px;
  }

  p {
    margin-left: 10px;
  }

  .size {
    color: #582d93;
  }

  a {
    text-decoration: none;
    color: #000;
  }
</style>
